button
{
  margin-left: 30px;
  margin-top: 20px;
}
body{
  background-color:silver;
}
.CopyRight
{
  color:gray;

}
.ShoulderCard{
  display: inline-block;
  padding: 30px;
  

}
.Header{
  margin-top: 10px;
}
.insta-whatsapp{
 size: 40px;
 display: inline-block;
 margin-left: 30px;
 color:black;
 }
 .share
 {
   size:20px;
 }
.gray
{
  background-color:rgb(88, 88, 94);
}
.space
{
  margin-left: 20px;
}
.overlap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.overlap-2 {
  display: block;
  z-index: 120;
}
.overlap-3 {
  display: none;
  z-index: 130;
}
.gray1
{
  background-color:white;
}
.exercise
{
  color:rgb(88, 88, 94) ;
}
.black
{
  color:black;
}
.Scrolling-menu {
  display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
  
}
   .card {
     flex: 0 0 auto;
     lef-margin:10px
 }
 .table{
   max-width: 400px;
   max-height: 170px;
 }
 .aimage{
   max-width: 200px;
   max-height: 150px;
 }
 .menu{
  width: 500px;
  height: 200px;
  margin-left: 10px;
 }
 .audio{
   width:250px ;
 }
 
 