button
{
  margin-left: 30px;
  margin-top: 20px;
}
body{
  background-color:black;
}
.CopyRight
{
  color:gray;

  margin-left: 20px;
}
.ShoulderCard{
  display: inline-block;
  padding: 30px;
  

}
.Header{
  margin-top: 10px;
}
.insta-whatsapp{
 size: 40px;
 display: inline-block;
 margin-left: 30px;
 }
 .share
 {
   size:20px;
 }
.gray
{
  background-color:wheat;
}
.space
{
  margin-left: 20px;
}
