button
{
  margin-left: 30px;
  margin-top: 20px;
}
body{
  background-color:black;
}
.CopyRight
{
  color:gray;

  margin-left: 20px;
}
.ShoulderCard{
  display: inline-block;
  padding: 30px;
  

}
.Header{
  margin-top: 10px;
}
.insta-whatsapp{
 size: 40px;
 display: inline-block;
 margin-left: 30px;
 }
 .share
 {
   size:20px;
 }
.gray
{
  background-color:blue;
}
.space
{
  margin-left: 20px;
}
.overlap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.overlap-2 {
  display: block;
  z-index: 120;
}
.overlap-3 {
  display: none;
  z-index: 130;
}
